:local(.cover){
  vertical-align: middle;
  margin:-10px;
  padding:0;
  position: relative !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: 100% 100% !important;
  max-height: 370px;
  width: 101%;
  object-fit: cover;
}